<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
  	<servlet-name>LoginRoot</servlet-name>
  	<servlet-class>action.LoginRoot</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginRoot</servlet-name>
  	<url-pattern>/loginRoot</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>IndexRoot</servlet-name>
  	<servlet-class>action.IndexRoot</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IndexRoot</servlet-name>
  	<url-pattern>/indexRoot</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>register</servlet-name>
  	<servlet-class>action.Register</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>register</servlet-name>
  	<url-pattern>/reRoot</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>re</servlet-name>
  	<servlet-class>action.Reg</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>re</servlet-name>
  	<url-pattern>/regRoot</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>Success</servlet-name>
  	<servlet-class>action.Success</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Success</servlet-name>
  	<url-pattern>/success</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>D</servlet-name>
  	<servlet-class>model.Del</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>D</servlet-name>
  	<url-pattern>/d</url-pattern>
  </servlet-mapping>
  
</web-app>